.resizablediv {
  background: linear-gradient(120deg, #00c9ff 0%, #92fe9d 100%);
  height: 50px;
  width: 50px;
  border-radius: 8px;
  margin: 10px 10px;
  transition: background-color 1s;
  position: absolute;
}

.resizablediv:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.959);
  border: 0.5px solid #ff6700;
}

.resizer {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  /* background-color: black; */
  z-index: 2;
}
.resizer.ne {
  top: -1px;
  right: -1px;
  cursor: ne-resize;
}

.resizer.nw {
  top: -1px;
  left: -1px;
  cursor: nw-resize;
}

.resizer.se {
  bottom: -1px;
  right: -1px;
  cursor: se-resize;
}
.resizer.sw {
  bottom: -1px;
  left: -1px;
  cursor: sw-resize;
}
